<%= form_with(model: participation) do |form| %>
  <% if participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
        <% participation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_with(url: participations_path, method: "POST") do %>
    <%= label_tag(:user_id, "User Id :") %>
    <%= text_field_tag(:user_id) %><br>

    <%= form.select :event_id,Event.all.pluck(:title,:id),{prompt:'choose your event :'},{class: "form-control"}%>
    <%= submit_tag("Valide participation") %>
  <% end %>

<% end %>
